a:link {
    text-decoration: none;
}

body {
    background: #F0F9FF;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: #1CA3E6;
    color: white;
}

input[type=text],[type=date],[type=file] {
    border: 1px solid #1ECBE6;
    border-radius: 10px;
}

textarea[type=text] {
    border: 1px solid #1ECBE6;
    border-radius: 10px;
}

h2 {
    font: 33px sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
h2.no-background {
    position: relative;
    overflow: hidden;
}
h2.no-background span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}
h2.no-background span:before,
h2.no-background span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 3px solid #1CA3E6;
}
h2.no-background span:before {
    right: 100%;
}
h2.no-background span:after {
    left: 100%;
}

/*remove table borders*/
.borderless td {
    border: none;
}

.nav-href-indent {
    padding-top: 60px;
    margin-top: -60px;
}

.nav-href-indent-edit {
    padding-top: 70px;
    margin-top: -70px;
}

.box-shadow-blue {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #C5EFFA;
    background: white;
}

.box-shadow-grey {
    padding: 5px;
    box-shadow: 3px 3px 3px #E0E8EE;
    background: #f7f7f7
}

.box-shadow-lines {
    padding: 5px;
    border: 2px;
    border-style: dashed;
    border-color: #1DA3E5;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #C5EFFA;
}

.round {
    border-color: #1CA3E6;
    border-radius: 10px;
}

.left-round {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-round {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}